<launch>
  <!--node pkg="rosbag" type="record" name="my_rosbag" args="-a -o /home/lcc/Downloads/double_my_rosbag"/-->
  
  <!-- Connect the robot to a keyboard teleop controller -->
  <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen" respawn="true"/>

  <!-- Launch GMapping -->
  <!--include file="$(find jackal_navigation)/launch/include/gmapping.launch" /-->

  <!-- Launch Rviz with our settings -->
  <!--node type="rviz" name="rviz" pkg="rviz" args="-d $(find me5413_world)/rviz/gmapping.rviz" output="log" respawn="true"/-->

  <!-- node name="map_saver" pkg="map_server" type="map_saver" args="-f $(find me5413_world)/maps/my_new_map"/-->

  <node name="hector_mapping" pkg="hector_mapping" type="hector_mapping">
    <param name="map_frame" value="map" />
    <param name="scan_topic" type="string" value="/front/scan1"/>
    <param name="odom_frame" type="string" value="odom"/>
    <param name="odom_topic" type="string" value="/odometry/filtered"/>
  </node>
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find hector_mapping)/launch/test.rviz" output="log" respawn="true"/>
</launch>